img2table==1.2.11
requests==2.32.3
numpy==1.26.4
opencv-python==4.10.0.82
python-telegram-bot==21.3
python-telegram-bot[job-queue]~=21.3
pytz==2024.1
pylint==3.2.3
SQLAlchemy==2.0.31
alembic==1.13.2
flake8==7.1.0
types-pytz==2024.1.0.20240417
mypy==1.11.0
mypy-extensions==1.0.0
black==24.4.2
flake8-bugbear==24.4.26
fastapi==0.111.1
flask==3.0.3

